{% extends _layout %}

{% block content %}
<div class="row">
<div class="col-lg-offset-3 col-lg-6">
<h1>Edit Season</h1>

{% if data.message != "" %}
<div class="alert alert-info" id="infoMessage">{{ data.message}}</div>
{% endif%}

{% set l = 'auth/season_edit/' ~ data.id.id %}
{{l|form_open()}}
    <p>
        <strong>Name:</strong>
        {{data.name|bs_form_input()}}
    </p>

    <p>
        <strong>Tag:</strong>
        {{data.tag|bs_form_input()}}
    </p>

    <p>
    <div class='row'>
        <div class='col-md-4'>
            <strong>Open Registration:</strong>
            {{data.start|bs_form_input()}}
        </div>        
        <div class='col-md-4'>
            <strong>Close Registration:</strong>
            {{data.end|bs_form_input()}}
        </div>        
    </div>
    </p>

    {{data.id|form_hidden}}
    {{data.csrf|form_hidden}}

    {% set lsubbtn = 'Submit' %}
    {{'submit'|bs_form_submit(lsubbtn)}}

{{form_close()}}

<h2>Modify Weekly Bracket</h2>
{% set l = 'auth/season_week_edit/' ~ data.id.id %}

<table class="table">
    <thead>
        <tr>
            <th>Bracket Tag</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
    {% for week in data.weeks %}
        <tr>
            <td>{{data.tag.value}}:{{week.tag}}</td>
            <td>{{week.start}}</td>
            <td>{{week.end}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% set l1 = 'Create New Weekly Bracket' %}
{% set s = 'auth/create_season_week/' ~ data.id.id    %}
{{s|anchor(l1)}}

{% if user.isAdmin == TRUE %}
|||
{% set s = 'auth/season_seed/' ~ data.id.id %}
{{s|anchor('Seed Season','id=seed_season')}}
{% endif %}

{% endblock %}
    
    
{% block js %}
<script type='text/javascript'>
    $(document).ready(function(){
        $( "#start" ).datepicker();
    
        $( "#end" ).datepicker();
        
        $('#seed_season').click(function(){
    return confirm("Are you sure you want to seed this season? DON'T RUN THIS TWICE.");
})
    });
</script>    
{% endblock %}
