{% extends _layout %}

{% block content %}
<div class="col-lg-offset-0 col-lg-6">
<h1>{{'index_heading'|lang()}}</h1>
<p>{{'index_subheading'|lang()}}</p>

{% if data.message != "" %}
<div class="alert alert-info" id="infoMessage">{{ data.message}}</div>
{% endif%}

<table class="table">
    <thead>
        <tr>
            <th>{{'index_tname_th'|lang}}</th>
            <th>{{'index_email_th'|lang}}</th>
            <th>{{'index_status_th'|lang}}</th>
            <th>{{'index_action_th'|lang}}</th>
        </tr>
    </thead>
    <tbody>
    {% for user in data.users %}
        <tr>
            <td>
                {% if user.teamname != 'Admin' %}
                    {% set s = 'team/edit/' ~ user.teamId    %}
                    {{s|anchor(user.teamname)}}
                {% endif %}
            </td>
            <td>{{user.email}}</td>
            <td>
                {% if user.active == TRUE %}
                    {% set l = 'index_active_link'|lang %}
                    {% set s =  'auth/deactivate/' ~ user.id %}
                {% else %}
                    {% set l = 'index_inactive_link'|lang %}
                    {% set s =  'auth/activate/' ~ user.id %}
                {% endif %}
                {{s|anchor(l)}}
            </td>            
            <td>
                {% set l = "auth/edit_user/" ~ user.id %}
                {{l|anchor('Edit')}}
            </td>
        </tr>        
    {% endfor %}
    </tbody>
</table>
</div>
<div class="col-lg-6">
<h1>Seasons</h1>
<p>Below is a list of seasons</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tag</th>
            <th>Registration Start</th>
            <th>Registration Close</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for season in data.seasons %}
        <tr>
            <td>
                {% set s = 'auth/season_edit/' ~ season.id    %}
                {{s|anchor(season.name)}}
            </td>
            <td>{{season.tag}}</td>
            <td>{{season.start}}</td>
            <td>{{season.end}}</td>
            <td>
                {% if season.active == TRUE %}
                    {% set l = 'index_active_link'|lang %}
                    {% set s =  'auth/season_deactivate/' ~ season.id %}
                {% else %}
                    {% set l = 'index_inactive_link'|lang %}
                    {% set s =  'auth/season_activate/' ~ season.id %}
                {% endif %}
                {{s|anchor(l)}}
            </td>            
        </tr>        
    {% endfor %}
    </tbody>
</table>

{% set l1 = 'Create New Season' %}
{{'auth/create_season'|anchor(l1)}}

</div>
{% endblock %}
