{% extends _layout %}

{% block content %}
<div class="col-lg-offset-3 col-lg-6">
<h1>Contact Us</h1>

{% if data.message != "" %}
<div class="alert alert-info" id="infoMessage">{{ data.message}}</div>
{% endif%}

{{'main/contact'|form_open()}}
    <p>
        From:
        {{data.from|bs_form_input()}}
    </p>

    <p>
        Subject:
        {{data.subject|bs_form_input()}}
    </p>

    <p>
        Message:
        {{data.content|bs_form_textarea()}}
    </p>
    
    {% if data.enableBtn == 'true' %}
        {{'submit'|bs_form_submit('Send')}}
    {% endif %}

{{form_close()}}

</div>
{% endblock %}