{% extends _layout %}

{% block js_headers %}
<script src="//use.typekit.net/egd7yxu.js"></script>
<script>try{Typekit.load();}catch(e){}</script>    
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
    
        <h2>{{season.name}} Standings <span style="font-size:10px;color:grey;">(*stats are delayed by one week)</span></h2>

        {% if stats_tourny is defined %}
        <table id="teams" class="table table-bordered table-hover" style="border: 0px;">
            <thead>
                <tr>
                    <th class="text-center" style='width:100px;'>Group</th>
                    <th class="text-center" style='width:800px;'>Team</th>
                    <th class="text-center"  style='width:100px'>Wins</th>
                    <th class="text-center"  style='width:100px'>Losses</th>
                    <th class="text-center"  style='width:200px'>Win %</th>
                    <th class="text-center"  style='width:300px'>Points</th>
                </tr>
            </thead>
            <tbody>
            {% for team in stats_tourny %}
                <tr>
                    {% set s = 'team/portal/' ~ team.teamId    %}
                    <td>Finals</td>
                    <td><a href="{{s|site_url}}">{{team.teamName}}</a></td>
                    <td class="text-center">{{team.wins}}</td>
                    <td class="text-center">{{team.loss}}</td>
                    <td class="text-center">{{team.perc}}</td>
                    <td class="text-center">{{team.points}}</td>
               </tr>
            {% endfor %}
            </tbody>
        </table>
        {%endif%}
        {% if stats_playoffs is defined %}
        <table id="teams" class="table table-bordered table-hover" style="border: 0px;">
            <thead>
                <tr>
                    <th class="text-center" style='width:100px;'>Group</th>
                    <th class="text-center" style='width:800px;'>Team</th>
                    <th class="text-center"  style='width:100px'>Wins</th>
                    <th class="text-center"  style='width:100px'>Losses</th>
                    <th class="text-center"  style='width:200px'>Win %</th>
                    <th class="text-center"  style='width:300px'>Points</th>
                </tr>
            </thead>
            <tbody>
            {% for team in stats_playoffs %}
                <tr>
                    {% set s = 'team/portal/' ~ team.teamId    %}
                    <td>Playoffs</td>
                    <td><a href="{{s|site_url}}">{{team.teamName}}</a></td>
                    <td class="text-center">{{team.wins}}</td>
                    <td class="text-center">{{team.loss}}</td>
                    <td class="text-center">{{team.perc}}</td>
                    <td class="text-center">{{team.points}}</td>
               </tr>
            {% endfor %}
            </tbody>
        </table>
        {%endif%}
        
        {% if season.id > 6 %}
        <div class='row'>
        <div class='col-md-9 col-md-push-1 col-sm-10 col-sm-push-1 col-xs-8 col-xs-push-2' style='margin-left:10px;'>
        <div class='header-line'>
            <div class='text-center' style='margin-top:1px;'><span class='header-text'>Pro Bracket</span></div>
        </div>
        </div>
        </div>
       <div class='row'>
        {% set place = 0 %}
        {% set pts = 100000 %}
        {% for team in stats if team.group_name == 'Pro' %}
        {%if team.points < pts %}
            {% set place = place+1 %}
            {% set pts = team.points %} 
        {%endif%}
            {% set s = 'team/portal/' ~ team.teamId    %}
            <a href='{{s|site_url}}' target='_blank'>
            <div class='team col-sm-4 col-md-3 col-xs-6 col-md-push-1 col-sm-push-2 col-xs-push-3'>
                <div class='row'>
                <div class='col-sm-6 col-md-6 col-xs-6'>
                {%if team.logo != ""%}
                    <img  class='pull-left img-responsive' style='margin-top:5px;' src='{{team.logo}}' width='100' height='100'/>
                {%else%}
                    <img  class='pull-left img-responsive' style='margin-top:5px;' src='/assets/images/spl_logo.png' width='100' height='100'/>                    
                {%endif%}
                </div>
                <div class='col-sm-6 col-md-6 col-xs-6'>
                    <div class='row'>
                        <span class='team-text-1'>{{team.teamName}}</span>
                        <span></span>
                    </div>
                    <div class='row'>
                        <span class='pull-left team-text-2 team-text-green'>
                            {{team.wins}} W
                        </span>
                    </div>
                    <div class='row'>
                        <span class='team-text-2 pull-left'>
                            <span class='team-text-red'>
                                {{team.loss}} L</span><br/>
                                <strong>{{team.perc}}% Win Perc</strong>
                        </span>
                    </div>
                </div>
                </div>
                <div class='row bottom'>
                    <div class="pull-left team-text-3" style='font-size:25px;'>
                    {% if place == 1 %}
                    1st
                    {% elseif place == 2 %}
                    2nd
                    {% elseif place== 3 %}
                    3rd
                    {% else %}
                    {{place}}th
                    {%endif%}
                    </div>                
                    <span class='pull-right team-text-3'>
                        {{team.points}} pts
                    </span>
                </div>
            </div>
            </a>
        {% endfor %}            
       </div>
       
        <div class='row'>
        <div class='col-md-9 col-md-push-1 col-sm-10 col-sm-push-1 col-xs-8 col-xs-push-2' style='margin-left:10px;'>
        <div class='header-line'>
            <div class='text-center' style='margin-top:1px;'><span class='header-text'>Challenger Bracket</span></div>
        </div>
        </div>
        </div>

       <div class='row'>
        {% set place = 0 %}
        {% set pts = 100000 %}
        {% for team in stats if team.group_name == 'Challenger' %}
        
        {% if team.isValid %}
            {%if team.points < pts %}
                {% set place = place+1 %}
                {% set pts = team.points %} 
            {%endif%}
            
            {% set s = 'team/portal/' ~ team.teamId    %}
            <a href='{{s|site_url}}' target='_blank'>
            <div class='team col-sm-4 col-md-3 col-xs-6 col-md-push-1 col-sm-push-2 col-xs-push-3'>
                <div class='row'>
                <div class='col-sm-6 col-md-6 col-xs-6'>
                {%if team.logo != ""%}
                    <img  class='pull-left img-responsive' style='margin-top:5px;' src='{{team.logo}}' width='100' height='100'/>
                {%else%}
                    <img  class='pull-left img-responsive' style='margin-top:5px;' src='/assets/images/spl_logo.png' width='100' height='100'/>                    
                {%endif%}
                </div>
                <div class='col-sm-6 col-md-6 col-xs-6'>
                    <div class='row'>
                        <span class='team-text-1'>{{team.teamName}}</span>
                        <span></span>
                    </div>
                    <div class='row'>
                        <span class='pull-left team-text-2 team-text-green'>
                            {{team.wins}} W
                        </span>
                    </div>
                    <div class='row'>
                        <span class='team-text-2 pull-left'>
                            <span class='team-text-red'>
                                {{team.loss}} L</span><br/>
                                <strong>{{team.perc}}% Win Perc</strong>
                        </span>
                    </div>
                </div>
                </div>
                <div class='row bottom'>
                    <div class="pull-left team-text-3" style='font-size:25px;'>
                    {% if place == 1 %}
                    1st
                    {% elseif place == 2 %}
                    2nd
                    {% elseif place== 3 %}
                    3rd
                    {% else %}
                    {{place}}th
                    {%endif%}
                    </div>                
                    <span class='pull-right team-text-3'>
                        {{team.points}} pts
                    </span>
                </div>
            </div>
            </a>
        {%endif%}
        {% endfor %}            
        </div>
           
        {%else%}
            <table id="teams" class="table table-bordered table-hover" style="border: 0px;">
            <thead>
                <tr>
                    <th class="text-center" style='width:100px;'>Group</th>
                    <th class="text-center" style='width:800px;'>Team</th>
                    <th class="text-center"  style='width:100px'>Wins</th>
                    <th class="text-center"  style='width:100px'>Losses</th>
                    <th class="text-center"  style='width:200px'>Win %</th>
                    <th class="text-center"  style='width:300px'>Points</th>
                </tr>
            </thead>
            <tbody>
            {% for team in stats %}
                <tr>
                    {% set s = 'team/portal/' ~ team.teamId    %}
                    <td class="text-left">{{team.group_name}}</td>
                    <td><a href="{{s|site_url}}">{{team.teamName}}</a></td>
                    <td class="text-center">{{team.wins}}</td>
                    <td class="text-center">{{team.loss}}</td>
                    <td class="text-center">{{team.perc}}</td>
                    <td class="text-center">{{team.points}}</td>
               </tr>
            {% endfor %}
            </tbody>
        </table>        
        {%endif%}
        
    </div>
</div>
{% endblock %}