{% extends _layout %}
{% block content %}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
    
        <h2>Current Strife Series Standings <span style="font-size:10px;color:grey;">(*stats are delayed by one week)</span></h2>

        <table id="teams" class="table table-bordered table-hover" style="border: 0px;">
            <thead>
                <tr>
                    <th class="text-center" style='width:100px;'>Group</th>
                    <th class="text-center" style='width:800px;'>Team</th>
                    <th class="text-center"  style='width:100px'>Wins</th>
                    <th class="text-center"  style='width:100px'>Losses</th>
                    <th class="text-center"  style='width:200px'>Win %</th>
                    <th class="text-center"  style='width:300px'>Points</th>
                </tr>
            </thead>
            <tbody>
            {% for team in stats %}
                <tr>
                    {% set s = 'team/portal/' ~ team.teamId    %}
                    <td class="text-left">{{team.group_name}}</td>
                    <td><a href="{{s|site_url}}">{{team.teamName}}</a></td>
                    <td class="text-center">{{team.wins}}</td>
                    <td class="text-center">{{team.loss}}</td>
                    <td class="text-center">{{team.perc}}</td>
                    <td class="text-center">{{team.points}}</td>
               </tr>
            {% endfor %}
            </tbody>
        </table>
            
        <h2>Teams not in this Strife Series</h2>

        <table id="notTeams" class="table table-bordered table-hover" style="border: 0px;">
            <thead>
                <tr>
                    <th class="text-center" style='width:800px;'>Team</th>
                </tr>
            </thead>
            <tbody>
            {% for team in notTeams %}
                <tr>
                    {% set s = 'team/portal/' ~ team.id    %}
                    <td><a href="{{s|site_url}}">{{team.name}}</a></td>
               </tr>
            {% endfor %}
            </tbody>
        </table>            
        
    </div>
</div>
{% endblock %}