{% extends _layout %}
{% block content %}
<div class="col-md-offset-0 col-md-12">

    <h2 class="text-center">Match {{match.seasontag}}:{{match.weektag}}:{{match.name}}</h2><br/>

    {% if match.active == FALSE %}
    <div class="row">
        <div class="col-md-5 col-md-offset-0" style="text-align: center;">  
            {% set l = 'team/portal/' ~ home_team.id %}                        
            <p class="text-center"><a href="{{l|site_url}}">{{home_team.name}}</a></p>
            <div class="row">
            <table style="display: inline-block;">
                <tbody>
                    <tr>
                        {% for stat in stats %}
                            {% if stat.team_id == home_team.id %}
                                <td><div title id="hero_port" class="hero-{{stat.hero}} hero-small" data-id="{{stat.strife_id}}"></div></td>
                            {% endif %}                            
                        {% endfor %}
                    </tr>
                </tbody>
            </table>        
            </div>
            <div class="row">
                <h2>{{match.hsdesc}} [{{match.home_team_points}} pts]</h2>
            </div>
        </div>
        <div  class="col-md-2" style="margin-top: 20px;">
            <div class="text-center">
                <h2>VS</h2>
                {% if match.strife_match_id != "" %}
                <a href="/files/M{{match.strife_match_id}}.k2r">replay download</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
        <div class="col-md-5 col-md-offset-0" style="text-align: center;">
            {% set l = 'team/portal/' ~ away_team.id %}                        
            <p class="text-center"><a href="{{l|site_url}}">{{away_team.name}}</a></p>
            <div class="row">
            <table style="display: inline-block;">
                <tbody>
                    <tr>
                        {% for stat in stats %}
                            {% if stat.team_id == away_team.id %}
                                <td><div title id="hero_port"  class="hero-{{stat.hero}} hero-small" data-id="{{stat.strife_id}}"></div></td>
                            {% endif %}                            
                        {% endfor %}
                    </tr>
                </tbody>
            </table>        
            </div>
            <div class="row">
                <h2>{{match.awdesc}} [{{match.away_team_points}} pts]</h2>
            </div>
        </div>
    </div>       
    </div>
    {% else %}
        <div class="col-md-3 col-md-offset-0" style="text-align: center;">  
            <p class="text-center"><h3>{{home_team.name}}</h3></p>
        </div>
        <div  class="col-md-6" style="margin-top: 20px;">
            <div class="text-center">
                <h2>VS</h2>
                <table class="table table-condensed text-left">
                    <thead >
                        <tr>
                            <td style="width:70px;"></td>
                            <td style="width:150px;"></td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td >Scheduled:</td>
                        <td id="mscheduleDate" >{{match.gamedate}}</td>
                    </tr>
                {% if match.proposeddate != "" and isOwner %}
                    {% if match.who_proposed_team == user.uname %}
                    <tr>
                        <td style="vertical-align: middle !important;" >Proposed:</td>
                        <td>
                            <span id="mPropDate" style="margin-right:10px;">{{match.proposeddate}}</span> 
                            {% set l = 'standings/propose_time/' ~ match.id %}                        
                            {% set l2 = 'standings/standings_ajax/ion_standings_dialog/propose_time/' ~ match.id %}
                            <a class="btn btn-warning" 
                               href="{{l|site_url}}" rel="async" 
                                  ajaxify="{{l2|site_url}}">Cancel</a>                            
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td style="vertical-align: middle !important;" >Proposed:</td>
                        <td>
                            <span id="mPropDate" style="margin-right:10px;">{{match.proposeddate}}</span> 
                            {% set l = 'standings/propose_time/' ~ match.id %}                        
                            {% set l2 = 'standings/standings_ajax/ion_standings_dialog/propose_time/' ~ match.id %}
                            <a class="btn btn-warning" 
                               href="{{l|site_url}}" rel="async" 
                                  ajaxify="{{l2|site_url}}">Accept/Reject</a>                            
                        </td>
                    </tr>
                    {% endif %}
                {% elseif (isOwner and match.proposeddate == "") %}
                    <tr>
                        <td style="vertical-align: middle !important;" >Proposed:</td>
                        <td>
                            {% set l = 'standings/propose_time/' ~ match.id %}                        
                            {% set l2 = 'standings/standings_ajax/ion_standings_dialog/propose_time/' ~ match.id %}
                            <a class="btn btn-warning" 
                               href="{{l|site_url}}" rel="async" 
                                  ajaxify="{{l2|site_url}}">New Time</a>                            
                        </td>
                    </tr>
                {% endif %}
                    <tr>
                        <td >Server:</td>
                        <td >{{match.server_region}}</td>
                    </tr>
                    <tr>
                        <td >Home:</td>
                        <td >{{match.homeTeam}}</td>
                    </tr>

                    </tbody>                    
                </table>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-0" style="text-align: center;">  
            <p class="text-center"><h3>{{away_team.name}}</h3></p>
        </div>
    {% endif %}
    {% if match.active == TRUE and isOwner %}
    <div class="col-md-12 text-center">
    <br/>
    <br/>
    <br/>
    {% set s = 'standings/edit_match/' ~ match.id %}
    {% set s2 = 'standings/standings_ajax/ion_standings_dialog/edit_match/' ~ match.id %}
    <a class="btn btn-primary" 
       href="{{s|site_url}}" rel="async" 
       ajaxify="{{s2|site_url}}">Report match</a>
    </div>
        
    {% elseif user.isManager == TRUE %}

    <div class="col-md-12 text-center">
    <br/>
    <br/>
    <br/>
        {% set s = 'standings/edit_match/' ~ match.id %}
        {% set s2 = 'standings/standings_ajax/ion_standings_dialog/edit_match/' ~ match.id %}
        <a href="{{s|site_url}}" rel="async" 
        ajaxify="{{s2|site_url}}" id="reportMatch" class="btn btn-primary">Admin Edit</a>
    </div>
    {% endif %}   
</div>

<div id="hero_pop" style="display: none; position: absolute; width:200px; height:210px; background: #76b9fc">
    
</div>
        
{% endblock %}
   
{% block js %}
<script src="{{'js/moment.min.js'|assets_url()}}"></script>
<script type="text/javascript">
    function getTimezone()
    {
        var now = new Date().toString();
        var TZ = now.indexOf('(') > -1 ?
        now.match(/\([^\)]+\)/)[0].match(/[A-Z]/g).join('') :
        now.match(/[A-Z]{3,4}/)[0];
        if (TZ == "GMT" && /(GMT\W*\d{4})/.test(now)) TZ = RegExp.$1;
        return TZ;
    }
    
    $( document ).ready(function() {
        $schDate = $("#mscheduleDate").html();
        if ($schDate != 0)
        {
            var strDateTime = $schDate;
            var myDate = moment(strDateTime);
            $("#mscheduleDate").html( myDate.format("MM/DD/YYYY hh:mm a ") + getTimezone() );
        }
        
        $propDate = $("#mPropDate").html();
        if ($propDate != 0)
        {
            var strDateTime = $propDate;
            var myDate = moment(strDateTime);
            $("#mPropDate").html( myDate.format("MM/DD/YYYY hh:mm a ") + getTimezone() );
        }
        
        $('div[id^="hero_port"]').each( function(idx, obj) {
            $(this).hover( function(e) { //hover
            var moveLeft = -30;
            var moveDown = -120;                
            {% set s = 'api/player/id/' %}
            var url = "{{s|site_url}}" + "/" + $(this).data('id')
                    +"/match/" + {{match.id}} +"?format=json";
                
                $.getJSON( url, function(data) {
                    
                    var html = "<div style='margin-top:5px;margin-left:5px;margin-bottom:5px;'>";
                    html += "Player: " + data.name +"<br/>";
                    html += "Hero: " + data.stats.hero +"<br/>";
                    html += "Pet: " + data.stats.pet +"<br/>";
                    html += "GPM: " + data.stats.gpm +"<br/>";
                    html += "KDA: " + data.stats.kda +"<br/>";
                    html += "Kills: " + data.stats.kills +"<br/>";
                    html += "Assists:" + data.stats.assists +"<br/>";
                    html += "Deaths: " + data.stats.deaths +"<br/>";
                    html += "Creeps: " + data.stats.creeps +"<br/>";
                    html += "Neutrals: " + data.stats.neutrals +"<br/>";
                    html += "</div>"
                    
                    $("#hero_pop").html(html);

                   $("#hero_pop").show()
                    .css('top', e.pageY + moveDown)
                    .css('left', e.pageX + moveLeft);
                });

               }, 
               function(){ //end
                $("#hero_pop").hide();
                   
               });
        });
    }); 
</script>
{% endblock %}
