{% extends _layout %}

{% block content %}
   
<div class="row">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <h1>Edit : {{ team.name }}</h1>

            {% if data.message != "" %}
            <div class="alert alert-info" id="infoMessage">{{ data.message}}</div>
            {% endif%}
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-offset-3 col-lg-3">


        {{'team/edit'|form_open}}
            <p>
                Captain:
                {{data.captain|bs_form_input()}}
            </p>
            <p>
                Member:
                {{data.slot1|bs_form_input()}}
            </p>
            <p>
                Member:
                {{data.slot2|bs_form_input()}}
            </p> 
            <p>
                Member:
                {{data.slot3|bs_form_input()}}
            </p> 
            <p>
                Member:
                {{data.slot4|bs_form_input()}}
            </p> 
            <p>
                Sub:
                {{data.slot5|bs_form_input()}}
            </p> 
            <p>
                Sub:
                {{data.slot6|bs_form_input()}}
            </p>
        </div>
        <div class="col-lg-3">
            <p>
                Contact:
                {{data.contact|bs_form_input()}}
            </p>   
            <p>
                Region:
                {% set regArr = {'USE':'USE', 'USW':'USW', 'EU':'EU', 'SEA':'SEA'} %}
                {{'region'|bs_form_dropdown(regArr, data.region)}}
            </p>
             <p>
                <div class="js-control" data-progress-holder=".progress" data-results-holder=".results">
                    <p>Logo <span style="font-size:10px;">(220x220)<span></p>
                    <p><button id="delLogo" onClick="javascript://;">Delete</button><input id="file-upload" type="file" name="files[]" single></input>                        
                    </p>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <hr>
                    <div class="results" id="logoImg"></div>            
                </div>
            </p>        
        </div>
    </div>
</div>
<div class='row'>
<div class='col-md-6 col-md-offset-3'>
    <h3 class='text-center'>Register for an open season</h3>
     {% set spltter = '' %}
     {% for season in data.seasons %}
        {% if season.inSeason != true %}
            {% set chkVal = '' %}
        {% else %}
            {% set chkVal = 'checked' %}
        {% endif %}
        {{spltter}} {{season.name}} : {{'inSeasons[]'|form_checkbox(season.id, FALSE, chkVal)}}        
        {% set spltter = ' | ' %}
      {% endfor %}
</div>            
</div>
    <div style='text-align:center;'>
      {% if user.isManager != true %}
      Teams are restricted from changing their roster during a live
      series.<br/> Please request your change with the contact support form
      and we will make the change for you.
      {% else %}
        {{'submit'|bs_form_submit('Submit')}}
      {% endif %}
    </div>
    
{% set arr = {'id': team.id} %}
{{arr|form_hidden}}    

{{data.logo|bs_form_input()}}

{{form_close()}}

<script src="{{'js/fileupload.js'|assets_url()}}"></script>
<script type="text/javascript">
$(document).ready(function() {
    {% set l = 'upload/upload_ajax/uploadimage/' ~ team.id %}
    uploadURL = '{{l|site_url}}';
    
        logoVal = $("#logo").val();
        if (logoVal != "")
        {
            $results = $("#logoImg");
             $results.html([
                            '<div class="text-center">',
                                '<div class="media-body">',
                                    '<img src="', logoVal , '"></img>',
                                '</div>',
                            '</div>'
                ].join(''));            
        }

        $("#delLogo").click(function () {
            $("#logo").val("");
             $results = $("#logoImg");
             $results.html("");    
             return false;
        });
        
        $('#file-upload').fileupload({
            url: uploadURL,
            dataType: 'json',
            submit: function(e, data) {
            },
            progressall: function(e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10),
                    $control = $(this).closest('.js-control'),
                    $progress = $control.find($control.data('progress-holder'));
                $progress.find('.progress-bar').css({ width: progress + '%' });
            },
            done: function(e, data) {
                var $control = $(this).closest('.js-control');
                    $results = $control.find($control.data('results-holder'));
                $.each(data.result.files, function (index, file) {
                    if (file.url) {
                        $("#logo").val(file.logoUrl);
                        $results.html([
                            '<div class="text-center">',
                                '<div class="media-body">',
                                    '<img src="', file.logoUrl , '"></img>',
                                '</div>',
                            '</div>'
                        ].join(''));
                    } else if (file.error) {
                        $results.html([
                            '<div class="alert alert-danger">',
                                file.name, ': ', file.error,
                            '</div>'
                        ].join(''));
                    }
                });
            },
            fail: function(e, data) {
                var $control = $(this).closest('.js-control');
                    $results = $control.find($control.data('results-holder'));
                $.each(data.files, function (index, file) {
                    $results.html('<div class="alert alert-danger">File upload failed.</div>');
                });
            }
        }).prop('disabled', !$.support.fileInput);

});

</script>

{% endblock %}