{% extends _layout %}

{% block content %}
   
<div class="row">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <h1>Edit : {{ team.name }}</h1>

            {% if data.message != "" %}
            <div class="alert alert-info" id="infoMessage">{{ data.message}}</div>
            {% endif%}
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-offset-3 col-lg-3">


        {{'team/edit'|form_open}}
            <p>
                Captain:
                {{data.captain|bs_form_input()}}
            </p>
            <p>
                Member:
                {{data.slot1|bs_form_input()}}
            </p>
            <p>
                Member:
                {{data.slot2|bs_form_input()}}
            </p> 
            <p>
                Member:
                {{data.slot3|bs_form_input()}}
            </p> 
            <p>
                Member:
                {{data.slot4|bs_form_input()}}
            </p> 
            <p>
                Sub:
                {{data.slot5|bs_form_input()}}
            </p> 
            <p>
                Sub:
                {{data.slot6|bs_form_input()}}
            </p>
        </div>
        <div class="col-lg-3">
            <p>
                Contact:
                {{data.contact|bs_form_input()}}
            </p>   
            <p>
                Region:
                {% set regArr = {'USE':'USE', 'USW':'USW', 'EU':'EU', 'SEA':'SEA'} %}
                {{'region'|bs_form_dropdown(regArr, data.region)}}
            </p>
             <p>
                Bio:
                {{data.bio|bs_form_textarea()}}
            </p>        
        </div>
    </div>
</div>
<div class='row'>
<div class='col-md-6 col-md-offset-3'>
    <h3 class='text-center'>Register for an open season</h3>
     {% set spltter = '' %}
     {% for season in data.seasons %}
        {% if season.inSeason != true %}
            {% set chkVal = '' %}
        {% else %}
            {% set chkVal = 'checked' %}
        {% endif %}
        {{spltter}} {{season.name}} : {{'inSeasons[]'|form_checkbox(season.id, FALSE, chkVal)}}        
        {% set spltter = ' | ' %}
      {% endfor %}
</div>            
</div>
    <div style='text-align:center;'>
    {{'submit'|bs_form_submit('Submit')}}
    </div>
    
{% set arr = {'id': team.id} %}
{{arr|form_hidden}}    

{{form_close()}}
{% endblock %}