{% extends _layout %}
{% block content %}
    {% for invite in invites  %}
    <div class="alert alert-success" id="infoMessage">
        {% set s = 'team/invacct/' ~ invite.id ~ '/0'    %}
        {{ invite.user_name }} has a pending invite for a {{invite.role}} role.
        <span class='pull-right'>
            <a href='{{s|site_url}}' style='margin-right:15px;'>Revoke</a>
        </span>
    </div>    
    {%endfor%}
    {% if canJoin and isTeamOwner%}
    <div class="alert alert-success" id="infoMessage">
        {% set s = 'team/join_season/' ~ team.id  %}
        Sign your team into <a href='{{s|site_url}}'>{{season.name}}</a> and start playing next week!
    </div>
    {%endif%}
    {% if canLeave and isTeamOwner%}
    <div class="alert alert-warning" id="infoMessage">
        {% set s = 'team/join_season/' ~ team.id  ~ '/1' %}
        Sign your team out of <a href='{{s|site_url}}'>{{season.name}}</a> starting next week.
    </div>
    {%endif%}
    <h2 style='text-align:center;'>{{team.name}} ( 
        
        {%if isTeamOwner and canEdit %}
        <span id="regionContainer" class="">
        <a href="javascript://;" id="region">{{team.region}}</a> 
        </span>
        {%else%}
        {{team.region}}
        {%endif%}                
        ) 
    </h2> 
    {% if isTeamMember %}
    <h4 style='text-align:center;'>
        <a href="{{'team/leave'|site_url()}}">Leave Team</a>
    </h4>
    {%endif%}
    <br/>
    <div class="col-md-12">        
        <div class="col-md-4">
            <!--logo block-->            
            <div class="js-control" data-progress-holder=".progress" data-results-holder=".results">            
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {%if isTeamOwner %}
                        Logo <span style="font-size:10px;">(220x220)<span>
                        <input id="file-upload" type="file" name="files[]" single></input>
                        <button id="delLogo" onClick="javascript://;">Delete</button>
                        <div class="progress" style="margin-bottom: 0px;">
                            <div class="progress-bar"></div>
                        </div>                       
                        {%else%}
                        Logo
                        {%endif%}
                    </h3>
                </div>
                {% if team.logo != ""%}
                    <div id="logo_results" class="panel-body">
                        <img class="img-responsive center-block" style="margin-top:-10px;margin-bottom:-10px" src="{{team.logo}}"/>
                    </div>
                {% else %}
                    <div id="logo_results" class="panel-body" style="height:220px;">
                    </div>
                {% endif %}
            </div>
            </div>
            <!--points block-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Strife Series Points</h3>
                </div>
                <div class="panel-body">
                    <div style="text-align:center;">{{season_points}}</div>
                </div>
            </div> 
        </div>
        <div class="col-md-4">
            <!--contact block-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        Contact
                        {%if isTeamOwner%}
                        <div class="dropdown pull-right">
                            <a style="margin-top: -5px;"
                                class="pull-right btn-warn btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                                Modify
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a id="contact_twitter" role="menuitem" tabindex="-1" href="javascript://;">Twitter</a></li>
                                <li role="presentation"><a id="contact_facebook" role="menuitem" tabindex="-1" href="javascript://;">Facebook</a></li>
                                <li role="presentation"><a id="contact_twitch" role="menuitem" tabindex="-1" href="javascript://;">Twitch</a></li>
                            </ul>     
                        </div>
                        {%endif%}
                    </div>
                </div>
                <div class="panel-body">
                    {% set s = 'mail/create/' ~ team.owner_id   %}
                    {% set s2 = 'mail/mail_ajax/ion_mail_dialog/create/' ~ team.owner_id %}
                    <a href="{{s|site_url}}" rel="async" ajaxify="{{s2|site_url}}">
                    <img width="40px" height="40px" src="{{'images/glyphicons_122_message_in.png'|assets_url()}}" />
                    </a>
                    {%if team.contact_twitter != ''%}
                    <a href="http://www.twitter.com/{{team.contact_twitter}}" target='_blank'>
                    <img width="40px" height="40px" src="{{'images/glyphicons_social_31_twitter.png'|assets_url()}}" />
                    </a>                        
                    {%endif%}
                    {%if team.contact_facebook != ''%}
                    <a href="http://www.facebook.com/{{team.contact_facebook}}" target='_blank'>
                    <img width="40px" height="40px" src="{{'images/glyphicons_social_30_facebook.png'|assets_url()}}" />
                    </a>                        
                    {%endif%}
                    {%if team.contact_twitch != ''%}
                    <a href="http://www.twitch.tv/{{team.contact_twitch}}" target='_blank'>
                    <img width="40px" height="40px" src="{{'images/twitch_glyph.jpg'|assets_url()}}" />
                    </a>                        
                    {%endif%}
                </div>
                <div class="panel-body collapse" id="contact_edit">
                    <span id="contact_type"></span>
                    <input type="text" id="contact_text" style="width:200px;" />
                    <a id='contact_save' href="javascript://;" class="btn btn-info" style="padding:0px;">save</a>
                    <a id='contact_delete' href="javascript://;" class="btn btn-warning" style="padding:0px;">delete</a>
                </div>                    
            </div>
            <!--record block-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Record History</h3>
                </div>
                <div class="panel-body">
                    <table align='center'>
                        <thead>
                            <tr>
                                <th width='150px'>Series</th>
                                <th width='50px'>W - L</th>
                                <th width='50px'>Win %</th>
                                <th width='50px'>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for stat in season_stats %}
                            <tr>
                                <td>{{stat.name}}</td>
                                <td>{{stat.wins}} - {{stat.loss}}</td>
                                <td>{{stat.perc}}%</td>
                                <td>{{stat.points}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <!--roster block-->
             <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Captain
                         {% if team.manager is not null %} / Manager {% endif %}
                    </h3>
                </div>
                <div class="panel-body">
                    {% for player in team.players if player.bestGroup.isOwner %}
                        {% if player.converted == false %}
                            {{player.name}}
                        {%else%}
                            {% set s = 'user/portal/' ~ player.id   %}
                            <a href="{{s|site_url}}">{{player.name}}</a>
                        {%endif%}
                        
                        {% if team.manager is not null %}
                             {% set s = 'user/portal/' ~ team.manager.id   %}
                            / <a href='{{s|site_url}}'>{{team.manager.username}}</a>
                        {% endif%}
                    {% endfor %}
                </div>
            </div>
           <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Active Roster</h3>
                </div>
                <div class="panel-body">
                    {% for player in team.players if player.bestGroup.isMember %}
                        {% if player.converted == false and isTeamOwner == true %}
                            {% set s = 'team/upgrade/' ~ player.name ~ '/' ~ player.strife_id   %}
                            {% set s2 = 'team/team_ajax/ion_team_dialog/upgrade/' ~ player.name ~ '/' ~ player.strife_id %}
                            <a class="btn btn-warning center-block" href="{{s|site_url}}" rel="async" ajaxify="{{s2|site_url}}">
                                Upgrade {{player.name}} 
                            </a>
                        {% elseif player.converted %}
                            {% set s = 'user/portal/' ~ player.id   %}
                            <a href="{{s|site_url}}">{{player.name}}</a>
                        {% else %}
                            {{player.name}}
                        {% endif %}
                        <br/>
                    {% endfor %}
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Active Subs</h3>
                </div>
                <div class="panel-body">
                    {% for player in team.players if player.bestGroup.isSub %}
                        {% if player.converted == false and isTeamOwner == true %}
                            {% set s = 'team/upgrade/' ~ player.name ~ '/' ~ player.strife_id   %}
                            {% set s2 = 'team/team_ajax/ion_team_dialog/upgrade/' ~ player.name ~ '/' ~ player.strife_id %}
                            <a class="btn btn-warning center-block" href="{{s|site_url}}" rel="async" ajaxify="{{s2|site_url}}">
                                Upgrade {{player.name}} 
                            </a>
                                
                        {% elseif player.converted %}
                           {% set s = 'user/portal/' ~ player.id   %}
                            <a href="{{s|site_url}}">{{player.name}}</a>
                        {% else %}
                            {{player.name}}
                        {% endif %}
                       <br/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">   
        <table id="matches" class="table table-bordered table-hover" style="border: 0px;">
            <thead>
                <tr>
                    <th class="text-center" style='width:800px;'>( Home vs Away )</th>
                    <th class="text-center"  style='width:320px'>Date</th>
                    <th class="text-center"  style='width:100px'>Result</th>
                    <th class="text-center"  style='width:100px'>Points</th>
                    <th class="text-center"  style='width:200px'>Match ID</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                    <tr>
                        {% set s = 'team/portal/' ~ match.home_team_id    %}
                        {% set s2 = 'team/portal/' ~ match.away_team_id    %}
                    <td><a style="color:red;" href="{{s|site_url}}">{{match.homeTeam}}</a> vs 
                        <a style="color:green;" href="{{s2|site_url}}">{{match.awayTeam}}</a</td>
                        <td class="text-center">{{match.gamedate}}</td>
                        
                        {% if match.home_team_id == team.id %}
                        <td class="text-center">{{match.hscode}}</td>
                        {% else %}
                        <td class="text-center">{{match.awcode}}</td>
                        {% endif %}
                        
                        {% if match.actteamive == true %}
                            <td></td>
                        {% else %}
                        {% if match.home_team_id == team.id %}
                        <td class="text-center">{{match.home_team_points}}</td>
                        {% else %}
                        <td class="text-center">{{match.away_team_points}}</td>
                        {% endif %}
                        {% endif %}
                        
                        {% set l = 'standings/match/' ~ match.id %}                        
                        <td class="text-center"><a href="{{l|site_url}}">{{match.seasontag}}:{{match.weektag}}:{{match.name}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="font-size:10px;color:grey;" class="text-right">(*stats are delayed by one week)</div>
    </div>
{% endblock %}

{% block js %}
<script src="{{'js/moment.min.js'|assets_url()}}"></script>
<script type="text/javascript">
    function getTimezone()
    {
        var now = new Date().toString();
        var TZ = now.indexOf('(') > -1 ?
        now.match(/\([^\)]+\)/)[0].match(/[A-Z]/g).join('') :
        now.match(/[A-Z]{3,4}/)[0];
        if (TZ == "GMT" && /(GMT\W*\d{4})/.test(now)) TZ = RegExp.$1;
        return TZ;
    }
    
    $( document ).ready(function() {
        $("#matches").find("td:nth-child(2)").each(function () {
            var $this = $(this);
            $schDate = $this.html();
            if ($schDate != 0)
            {
                var strDateTime = $schDate;
                var myDate = moment(strDateTime);
                $this.html( myDate.format("MM/DD/YYYY hh:mm A ") + getTimezone() );
            }
            
        });
    }); 
</script>

{%if isTeamOwner%}
<script src="{{'js/fileupload.js'|assets_url()}}"></script>
<script type="text/javascript">
$(document).ready(function() {
    {% set l = 'upload/upload_ajax/uploadimage/' ~ team.id %}
    uploadURL = '{{l|site_url}}';
        $("#delLogo").click(function () {
            $("#logo").val("");
             $results = $("#logo_results");
             $results.html("");    
             return false;
        });
        
        $('#file-upload').fileupload({
            url: uploadURL,
            dataType: 'json',
            submit: function(e, data) {
            },
            progressall: function(e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10),
                    $control = $(this).closest('.js-control'),
                    $progress = $control.find($control.data('progress-holder'));
                $progress.find('.progress-bar').css({ width: progress + '%' });
            },
            done: function(e, data) {
                var $control = $(this).closest('.js-control');
                $results = $("#logo_results");
                $.each(data.result.files, function (index, file) {
                    if (file.url) {
                        $("#logo").val(file.logoUrl);
                        $results.html([
                            '<img class="img-responsive center-block"',
                            'style="margin-top:-10px;margin-bottom:-10px"',
                            'src="', file.logoUrl , '"/>'
                        ].join(''));
        
                        //post this update to the team record.
                        var postData = {
                            logo: file.logoUrl
                        };
                        
                        postData = JSON.stringify(postData);
                        postData = {
                            id: {{team.id}},
                            data: postData
                        };
                        
                        $.ajax({
                            type: "POST",
                            url: "{{'team/save'|site_url()}}",
                            data: postData,
                            dataType:'json',
                            success: function(){
                            }
                        });

                    } else if (file.error) {
                        $results.html([
                            '<div class="alert alert-danger">',
                                file.name, ': ', file.error,
                            '</div>'
                        ].join(''));
                    }
                });
            },
            fail: function(e, data) {
                var $control = $(this).closest('.js-control');
                $results = $("#logo_results");
                $.each(data.files, function (index, file) {
                    $results.html('<div class="alert alert-danger">File upload failed.</div>');
                });
            }
        }).prop('disabled', !$.support.fileInput);
    
    $("#contact_save").click(function(){contact_save();});
    $("#contact_delete").click(function(){contact_delete();});
    $("#contact_twitter").click(function(){
        modify_contact('twitter');
    });
    $("#contact_facebook").click(function(){
        modify_contact('facebook');
    });
    $("#contact_twitch").click(function(){
        modify_contact('twitch');
    });

    setup_region_click();
});

function setup_region_click()
{
   $('#region').click(function()
    {
        var container = $('#regionContainer');
        
        var edit_html = '<select style="width:200px;display:inline !important;" class="form-control" id="region_select">' +
            '<option value="" disabled="disabled" selected="selected">Select a Region</option>' +
            '<option value="USE">USE</option>' +
            '<option value="USW">USW</option>' +
            '<option value="SEA">SEA</option>' +
            '<option value="EU">EU</option>' +
        '</select>' +
        '<a onclick="region_save();" class="btn btn-primary btn-xs" href="javascript://;"><span class="glyphicon glyphicon-ok"></span></a>' +
        '<button onclick="region_cancel();" class="btn btn-primary btn-xs" href="javascript://;"><span class="glyphicon glyphicon-remove"></span></button>'

        container.html(edit_html);
        
    });   
}

function region_cancel()
{
    var container = $('#regionContainer');
    container.html(' <a href="javascript://;" id="region">{{portalUser.extra.region}}</a> ');
    setup_region_click();
}
function region_save()
{
    var rawdata = $('#region_select').val();
    if (rawdata == null || rawdata == '')
    {
        region_cancel();
        return;
        
    }
    var postData = {};
    postData['region'] = rawdata;

    postData = JSON.stringify(postData);
    postData = {
        id: {{team.id}},
        data: postData
    };

    $.ajax({
        type: "POST",
        url: "{{'team/save'|site_url()}}",
        data: postData,
        dataType:'json',
        success: function(){
        }
    });    

    var container = $('#regionContainer');
    container.html(' <a href="javascript://;" id="region">'+rawdata+'</a> ');
    setup_region_click();
}


var contact_type;
function contact_save()
{
    
    var rawdata = $("#contact_text").val();
    rawdata = rawdata.replace(/(@|#|\/|http:|www.)/g,'');
    if (contact_type=='contact_twitter')
    {
        rawdata = rawdata.replace('twitter.com','');
    }
    if (contact_type=='contact_twitch')
    {
        rawdata = rawdata.replace('twitch.tv','');
    }
    if (contact_type=='contact_facebook')
    {
        rawdata = rawdata.replace('facebook.com','');
    }
    
    var postData = {};
    postData[contact_type] = rawdata;

    postData = JSON.stringify(postData);
    postData = {
        id: {{team.id}},
        data: postData
    };

    $.ajax({
        type: "POST",
        url: "{{'team/save'|site_url()}}",
        data: postData,
        dataType:'json',
        success: function(){
        }
    });
    
    $("#contact_edit").hide();
    location.reload();
}

function contact_delete()
{
    var postData = {};
    postData[contact_type] = "";

    postData = JSON.stringify(postData);
    postData = {
        id: {{team.id}},
        data: postData
    };

    $.ajax({
        type: "POST",
        url: "{{'team/save'|site_url()}}",
        data: postData,
        dataType:'json',
        success: function(){
        }
    });
    
    $("#contact_edit").hide();
    location.reload();
}

function modify_contact(contactType)
{
    $("#contact_edit").show();
    if (contactType == 'twitter')
    {
        contact_type = 'contact_twitter';
        $("#contact_type").html("<img width=15 height=15 src='{{'images/glyphicons_social_31_twitter.png'|assets_url()}}'/>");
        $("#contact_text").val('{{team.contact_twitter}}')
    }
    if (contactType == 'facebook')
    {
        contact_type = 'contact_facebook';
        $("#contact_type").html("<img width=15 height=15 src='{{'images/glyphicons_social_30_facebook.png'|assets_url()}}'/>");
        $("#contact_text").val('{{team.contact_facebook}}')
    }
    if (contactType == 'twitch')
    {
        contact_type = 'contact_twitch';
        $("#contact_type").html("<img width=15 height=15 src='{{'images/twitch_glyph.jpg'|assets_url()}}'/>");
        $("#contact_text").val('{{team.contact_twitch}}')
    }
}

</script>    
{%endif%}
{% endblock %}