<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <title>Strife Pro League</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap core CSS -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{'css/bootstrap.min.css'|assets_url()}}">
        <!-- Custom styles -->
        <link rel="stylesheet" href="{{'css/main.css'|assets_url()}}">
        <link rel="stylesheet" href="{{'css/heros.css'|assets_url()}}">
        <link rel="stylesheet" href="{{'css/jquery-ui-1.10.4.css'|assets_url()}}">
        <link rel="stylesheet" href="{{'css/jplayer.blue.monday.css'|assets_url()}}">
        <link rel="stylesheet" href="{{'css/modules/skeleton.css'|assets_url()}}">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
        {{ css }}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{{'js/html5shiv.min.js'|assets_url()}}"></script>
            <script src="{{'js/respond.min.js'|assets_url()}}"></script>
        <![endif]-->
        
        <script src="{{'js/jquery.min.js'|assets_url()}}"></script>
        <script src="{{'js/jquery.ui.min.js'|assets_url()}}"></script>
        <script src="{{'js/jquery.jplayer.min.js'|assets_url()}}"></script>
        <script src="{{'js/jquery.hoverIntent.min.js'|assets_url()}}"></script>
        <script src="{{'js/jquery.mb.flipText.js'|assets_url()}}"></script>
        <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

        <style type="text/css">
            a.alt-hover
            {
                color: brown;
            }
            a.alt-hover:hover
            {
                color: brown;
            }
            
            .mySideBar {}
            body {padding-top: 27px;}

            .myNavLinks{
                 min-height:25px; height:25px;padding-top:0px;
            }
            
            .myNavBar
            {
                margin-top: -35px;
            }
            

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}            
            
            @media screen and (max-width:1000px){
                .mySideBar {display: none;}
            }
            @media screen and (max-width:768px){
                .mySideBar {display: none;}
            }
            @media screen and (max-width:368px){
            }
            
        </style>
        
<style type="text/css">
		/* Optional styles */
		
		.sidecontentpullout {
			background-color: Black;
			color: White;
			padding: 4px 3px;
			-moz-border-radius-bottomleft: 1em;
			-moz-border-radius-topleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			-webkit-border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			border-top-left-radius: 1em;
		}
		
		.sidecontentpullout:hover {
			background-color: #444444;
			color: White;
		}
		
		.sidecontent {
			background-color: Black;
			color: White;
			-moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;
		}
		
		.sidecontent > div > div {
			padding-left: 10px;
			padding-right: 40px;
		}
                
.countdown-styled div {
  display: inline-block;
  margin: 0 5px 1em;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  text-align: right;

  /* IE7 inline-block hack */
  *display: inline;
  *zoom: 1;
}

.countdown-styled div:first-child {
  margin-left: 0;
}

.countdown-styled div:last-child {
  margin-right: 0;
}

.countdown-styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;                
	</style>        
        
    </head>
    <body>
        <!--Navbar-->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom:0px; min-height:26px; height:26px;">
            <div class="container" style="min-height:25px; height:25px;">
                <div class="navbar-header" >
                    <button style="margin-top:-4px; padding-bottom:6px;padding-top:6px; margin-bottom: 0px;" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only" >Toggle nav</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse myNavBar" style="min-height:25px; height:25px;background-color:#f8f8f8">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a class="myNavLinks" style="padding-top:0px;" href="#" class="dropdown-toggle" data-toggle="dropdown">SPL Series <b class="caret"></b></a>
                          <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#" class="dropdown-submenu">Current Series</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{'standings/index' |site_url}}" class="myNavLinks" style="padding-top:0px;">Standings</a></li>
                                    <li><a href="{{'standings/schedule'|site_url}}" class="myNavLinks" style="padding-top:0px;">Schedule</a></li>                                
                                    <li><a href="{{'main/stats'|site_url}}" class="myNavLinks" style="padding-top:0px;">Stats</a></li>
                                    <li><a href="{{'main/prizepool'|site_url}}" class="myNavLinks" style="padding-top:0px;">Prize Pool</a></li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            {%for season in otherSeasons%}
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#" class="dropdown-submenu">{{season.name}}</a>
                                <ul class="dropdown-menu">
                                    {% set l = 'standings/index/' ~ season.id %}
                                    <li><a href="{{l|site_url}}" class="myNavLinks" style="padding-top:0px;">Standings</a></li>
                                    {% set l = 'standings/schedule/' ~ season.id %}
                                    <li><a href="{{l|site_url}}" class="myNavLinks" style="padding-top:0px;">Schedule</a></li>                                
                                    {% set l = 'main/stats/' ~ season.id %}
                                    <li><a href="{{l|site_url}}" class="myNavLinks" style="padding-top:0px;">Stats</a></li>
                                    {% set l = 'main/prizepool/' ~ season.id %}
                                    <li><a href="{{l|site_url}}" class="myNavLinks" style="padding-top:0px;">Prize Pool</a></li>
                                </ul>
                            </li>
                            {%endfor%}
                          </ul>
                        </li>
                        <li><a href="{{'main/contact'|site_url}}" class="myNavLinks" style="padding-top:0px;">Contact</a></li>
                        <li><a href="{{'main/rules'|site_url}}" class="myNavLinks" style="padding-top:0px;">Rules</a></li>
                    </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="/" id="viewerCount" class="hidden-sm" style="color:red; padding-top:0px;height:20px;" ></a></li>
                    {% if user.isvalid != "true" %}
                      <li><a class="myNavLinks" style="padding-top:0px;" href="{{'auth/login'|site_url}}" rel="async" ajaxify="{{'auth/auth_ajax/ion_auth_dialog/login'|site_url}}">Login</a></li>
                    {%if false%}
                      <li><a class="myNavLinks" style="padding-top:0px;" href="{{'auth/create_user'|site_url}}" rel="async" ajaxify="{{'auth/auth_ajax/ion_auth_dialog/create_user'|site_url}}">Signup</a></li>
                    {%endif%}
                    {% else %}
                    
                    <li id="mailCount"{% if user.mailCount == 0%}style="display: none"{%endif%} >
                        <a href="{{'mail'|site_url}}" style="padding-top:0px;margin-top:2px;height:20px;">
                            <span id="mailCountText" style="font-size:16px;color:red;">{{user.mailCount}}</span> 
                            <img style="margin-top:-5px;" width="15" height="15" src="{{'images/new_mail.png'|assets_url()}}" />
                        </a>
                    </li>
                    
                    <li class="dropdown">
                      <a class="myNavLinks" style="padding-top:0px;" href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.uname}} <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        {% if user.isManager == TRUE %}
                        <li><a class="myNavLinks" style="padding-top:0px;" href="{{'auth/index'|site_url}}">Admin</a></li>
                        {% endif %}
                        {%if user.tname != '' %}
                        <li><a href="{{'team/portal'|site_url}}">Team Portal</a></li>
                        {%endif%}
                        <li><a href="{{'user/portal'|site_url}}">User Portal</a></li>
                        <li><a href="{{'mail'|site_url}}">Messages</a></li>
                        <li><a class="myNavLinks" style="padding-top:0px;" href="{{'auth/logout'|site_url}}">Logout</a></li>
                      </ul>
                    </li>
                     {% endif %}
                  </ul>
                </div>
            </div>
        </div>
        
        <div class="container" style="">
            <div class="row" style="background: #3990f2;">
                <div class="col-sm-2 hidden-xs">
                    <a href="{{'main/index'|site_url}}">
                        <img class="img-responsive" src="{{'images/spl_logo.png'|assets_url()}}"/></a>                        
                </div>
                <div class="col-xs-2 hidden-sm hidden-md hidden-lg">
                    <a href="{{'main/index'|site_url}}">
                        <img src="{{'images/spl_logo.png'|assets_url()}}"/></a>                        
                </div>
                <div class="col-sm-2 hidden-xs" style="margin-top:30px;margin-left:-25px;margin-right:25px;">
                    <a href="{{'main/index'|site_url}}"><img class="img-responsive" src="{{'images/srs.png'|assets_url()}}"/></a>                        
                </div>
                <div class="col-sm-4 hidden-xs" style="margin-top:20px;font-family: 'Oswald', sans-serif; font-weight: 700;">
                    <div class="text-center">
                    Beta Series 1 Tournament: July 12 & 13 <br/>
                    Start Time: 10am PST / 1pm EST<br/>
                    <a class="alt-hover" href="http://www.twitch.tv/strifeproleague" target="_blank">twitch.tv/strifeproleague</a>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-offset-4 hidden-sm hidden-md hidden-lg" style="margin-top:40px;font-size: 10px; font-family: 'Oswald', sans-serif; font-weight: 700;">
                    <div class="text-center">
                        Beta Series 1 Tournament: July 12 & 13 <br/>
                    Time: 10am PST<br/>
                    <a class="alt-hover" href="http://www.twitch.tv/strifeproleague" target="_blank">twitch.tv/strifeproleague</a>
                    </div>
                </div>
                <div class="col-xs-4 hidden-xs hidden-sm">
                <a href="http://www.gamevox.com" target="_blank">
                    <img class="pull-right img-responsive" src="{{'images/sponsors.png'|assets_url()}}" />
                </a>                    
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="container">                     
                {% block content %}
                {% endblock %}
             </div>
                <br/>
                <br/>
            </div>
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation"
             style="min-height: 22px;">
            <div class="container">
                <div class="col-md-12">
                    <p class="text-right text-muted">
                        &copy;2014 StrifeProLeague.org. All rights reserved. |
                    <a href="/assets/privacy.html" target="_blank">Privacy Policy</a> |
                    </p>
                </div>
            </div>
        </nav>

        <script src="{{'js/bootstrap.min.js'|assets_url()}}"></script>
        <script src="{{'js/main.js'|assets_url()}}"></script>
        <script src="{{'js/modules/skeleton.js'|assets_url()}}"></script>
        <!-- Extra javascript -->  
        <script type="text/javascript">
            var skipPlayerLoad = true;
        </script>
        {% block js %}
        {% endblock %}
        
        <script type="text/javascript">
            var offset = 80;
            $('.sidenav li a').click(function(event){
               event.preventDefault();
               $($(this).attr('href'))[0].scrollIntoView();
               scrollBy(0, -offset);
            });
  
$( document ).ready( function() {
    var player = $("#streamPlayer");
    var viewcount = $("#viewerCount");
    if (!viewcount.is(':hidden'))
    {
        //normal device so lets start checking if we are live.
        setTimeout('query_twitch();', 10);
    }
});

function checkMsgCount()
{
    
    $.getJSON( "{{'mail/ajax_msgcount'|site_url}}", function( data ) {
        if (data.count > 0)
        {
            $("#mailCount").show();
            $("#mailCountText").html(data.count);
        }
        
    });
}

var player_loaded = false;
function query_twitch()
{
    checkMsgCount();
    
    $.getJSON( "http://api.justin.tv/api/stream/summary.json?channel=strifeproleague&jsonp=?", function( data ) {
        if (data.streams_count > 0)
        {
            if (!player_loaded && !skipPlayerLoad)
            {
                player_loaded = true;
                
                var html = ['<br/>',
    '<div class="col-md-8 col-md-offset-1" >',
        '<object type="application/x-shockwave-flash" ',
        'height="550"', 
       ' width="930" ',
      '  id="live_embed_player_flash" ',
      '  data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=strifeproleague" ',
      '  bgcolor="#FFFFFF">',
      '  <param  name="allowFullScreen" ',
      '          value="true" />',
       ' <param  name="allowScriptAccess" ',
      '          value="always" />',
      '  <param  name="allowNetworking" ',
       '         value="all" />',
       ' <param  name="movie" ',
       '         value="http://www.twitch.tv/widgets/live_embed_player.swf" />',
       ' <param  name="flashvars" ',
       '         value="hostname=www.twitch.tv&channel=strifeproleague&auto_play=true&start_volume=70" />',
      '</object>',
    '</div>',
    '<div class="col-md-8 col-md-offset-1">',
       ' <iframe frameborder="0" ',
             '   scrolling="no" ',
            '    id="chat_embed" ',
             '   src="http://twitch.tv/chat/embed?channel=strifeproleague&amp;popout_chat=true" ',
             '   height="300" ',
              '  width="930">',
       ' </iframe>  ',                  
    '</div>',
    '<hr/>'
                ].join('\n');
                var player = $("#streamPlayer");
                player.html(html);
                
                $("#flap").hide();
            }
            
            var viewers = data.viewers_count;
            $("#viewerCount").html("Live Viewers: " + viewers);
        }
    });
    
    
    setTimeout('query_twitch();', 20000);
}            
            
        </script>

        
        
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77858-6', 'strifeproleague.org');
  ga('send', 'pageview');

</script>
	
    </body>
</html>