{% extends _layout %}

{% block content %}
<script src="{{'js/jquery.countdown.js'|assets_url()}}"></script>
<div id="streamPlayer" class="row hidden-sm col-md-12">
</div>
<div id="flap" name="flap">
<div class="row">
    <div class="col-md-12">
        <div>
        <h3><strong>Strife Open Beta launch and BS3 prize pool announcement</strong> <span style="font-size: 14px;">[September 4th 2014]</span></h3>
        <hr>
        <p><span style='margin-left:1em;'>Strife</span> is now officially in open beta, and I've already started seeing the increased player
            base hit the game and twitch. I'm very excited to see what that does for the Strife Pro League in terms of teams and viewers. With 
            that said, S2 has once again graciously donated money and gems to the prize pool for series 3. 
            The total prize is <strong>$3,000 USD and 3,500 Gems</strong>. The details on how that will be broken down (Pro and Challenger) can be found
            <a href='{{'main/prizepool/8'|site_url}}' target='_blank'>here</a>. Because of this increased prize amount we are also pushing
            back the start of series 3 by one week. We really want all teams to have more time in solidifying their rosters. Good luck
            to all teams!
            
            <br/><br/><strong>Schedule:</strong>
        <ul>
            <li>Regular Series: September 15th - October 19th</li>
            <li>Tie-breaker/challenges/semi-finals: October 25th - 26th @ 1pm EST</li>
            <li>Tournament: November 1st - 2nd @ 1pm EST</li>
        </ul>
        </p>
        </div>        
            
            <div>
        <h3><strong>Beta Series 3 is Now Open!</strong> <span style="font-size: 14px;">[August 31th 2014]</span></h3>
        <hr>
        <p><span style='margin-left:1em;'>Beta</span> Series 3 is here, and we are very excited for this to be the first SPL series under open beta!
          The series will kick off it's first week on <strong>September 8th 2014</strong>, and Challenger 
            teams need to sign into the series by <strong>September 7th, 2014</strong> to ensure they play all weeks.
            
            <br/><br/><strong>Schedule:</strong>
        <ul>
            <li>Regular Series: September 8th - October 12th</li>
            <li>Tie-breaker/challenges/semi-finals: October 18th - 19th @ 1pm EST</li>
            <li>Tournament: October 25th - 26th @ 1pm EST</li>
        </ul>
        </p>
        </div>       
        
        <div>
        <h3><strong>Congratulations to Surreal Gaming, Winners of the Beta Series Two</strong> <span style="font-size: 14px;">[August 25th 2014]</span></h3>
        <hr>
        <p>Series 2 is over, and this has been the closest competitive strife match we've ever had! 
            <a href='{{'team/portal/2'|site_url}}' target='_blank'>Surreal Gaming</a> won a well earned, but narrow, 3 to 2 victory over 
            <a href='{{'team/portal/16'|site_url}}' target='_blank'>FlipSid3 Tactics</a> in the best of five finals. If you somehow missed this great series, 
            you can catch the replay on our YouTube channel <a href='http://www.youtube.com/playlist?list=PLgUbluFzUV4y1okglEjhCyjDpyOYvuQXA' target='_blank'>here</a>
            , or on our Twitch.tv page <a href='http://www.twitch.tv/splcast/profile' target='_blank'>here</a>.
        </p>
        </div>        
        
        <div>
        <h3><strong>Beta Series 2 wrapping up</strong> <span style="font-size: 14px;">[August 17nd 2014]</span></h3>
        <hr>
        <p><span style='margin-left:1em;'>Beta</span> Series 2 is coming to a close with the regular series now done. All matches have been
            played and the seeding is mostly complete. We will have a couple of tie breaker games that will be played at the start of the
            tournament, and then we'll jump right into the challenger based matches. The tournament will span both August 23rd and 24th, with
            most of the tournament happening on Saturday. Both days will start at 1pm EST, with the tie breaker matches happening at 12pm EST on Saturday 
            (TBD if they will be casted). You can look at the tournament bracket breakdown <a href='{{'s2_brackets.pdf'|assets_url}}' target='_blank'>here</a>            
        </p>
        </div>        

        <div>
        <h3><strong>Beta Series 2 prize pool announcement</strong> <span style="font-size: 14px;">[July 22nd 2014]</span></h3>
        <hr>
        <p><span style='margin-left:1em;'>Beta</span> Series 2 is off and running into our first week. To go along with that we have some great news
            for the tournament prize pool. Graciously donated by S2, the total prize is <strong>$1,500 USD and 3,500 GEMS</strong>. That will be split between 1st, 2nd, and 3rd place winners 
            with the details available <a href='{{'main/prizepool/7'|site_url}}' target='_blank'>here</a>. Good luck to all the teams that make
            it into the tournament at the end of the series, and the challenger teams that earn their chance into the pro group.
        </p>
        </div>        

        <div>
        <h3><strong>Beta Series 2 is Now Open!</strong> <span style="font-size: 14px;">[July 14th 2014]</span></h3>
        <hr>
        <p><span style='margin-left:1em;'>Beta</span> Series 2 is here, and we are now pleased to announce that challenger teams can start signing up! This series brings a
           new format to SPL; one that we believe will help promote newer teams getting into competitive play, and having more fun overall.
        </p>
        <p><span style='margin-left:1em;'>Beta</span>  Series 2 will kick off it's first week on <strong>July 21st 2014</strong>, 
            so for Challenger teams to have the best shot of winning they will need to sign into the series by <strong>July 20th, 2014</strong>. 
            For detailed information and instructions on what the new Challenger & Pro groups are all about, please see this srsbsns.tv 
            <a href='http://strife.srsbsns.tv/posts/spl-beta-series-2-format' target='_blank'>article.</a>

            <br/><br/><strong>Schedule:</strong>
        <ul>
            <li>Regular Series: July 21st - August 17th</li>
            <li>Tournament: August 23rd & 24th</li>
        </ul>
        </p>
        </div>        

        <div>
        <h3><strong>Congratulations to Reason Gaming, Winners of the Beta Series One Round Robin</strong> <span style="font-size: 14px;">[July 7th 2014]</span></h3>
        <hr>
        <p>The series round robin is wrapped up, and <a href='{{'team/portal/26'|site_url}}' target='_blank'>Reason Gaming</a> has come out the victors. Not only do they take top seed into 
            the tournament, but they also win our series one <a href='{{'main/prizepool/6'|site_url}}' target='_blank'>first place prize</a>! Once again, a big congratulations and we can not wait
             to see how all of these teams do in the Beta Series One tournament July 12th 2014.
        </p>
        </div>        
    </div>       
</div>

</div>
{% endblock %}
{% block js %}    
<script type="text/javascript">
skipPlayerLoad = false;
</script>     
{% endblock %}