{% extends _layout %}

{% block content %}
<script src="{{'js/jquery.countdown.js'|assets_url()}}"></script>
<script src="{{'js/moment.min.js'|assets_url()}}"></script>
<div id="streamPlayer" class="row hidden-sm col-md-12">
</div>
<div id="flap" name="flap">

<div class="row">
    <div class="col-md-8">
        <div class='row'>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class='panel-title'>            
                        Featured Video
                    </div>
                </div>
                <div class="panel-body" style='padding:0px;margin:0px;'>
                    {% if featureVideo  %}
                    <div class="col-md-12" style='padding:0px;margin:0px;'>
                    <iframe class="col-sm-12" height="400" frameborder="0" wmode="Opaque" allowfullscreen="" 
                            style='padding:5px;margin:0;'
                            src="
                            {%if featureVideo.playlist != "" %}http://www.youtube.com/embed/videoseries?list={{featureVideo.playlist}}&autoplay=0
                            {%else%}http://www.youtube.com/embed/{{featureVideo.url}}?autoplay=0
                            {%endif%}
                                "></iframe>
                    <div style='margin:5px;'>
                        {% set l = 'videos/player/' ~ featureVideo.id %}
                        <a href='{{l|site_url}}'>
                        <h3>{{featureVideo.title}}</h3>
                        </a>
                        <div style='margin-top:10px;' class='small'><strong>by {{featureVideo.who}}</strong></div>
                        <div style='margin-top:-20px;' class='pull-right small'>{{featureVideo.dateline}}</div>
                    </div>
                    </div>            
                    {%else%}
                    <div class="col-md-12" style="height:350px;">

                    </div>
                    {%endif%}
                </div>
            </div>        
        </div>
        <div class='row'>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class='panel-title'>            
                        Other Videos
                    </div>
                </div>
                <div class='panel-body'>
                {% for video in videos %}
                    <div class='thumbnail col-md-3' style='border:0px;'>
                        {% set l = 'videos/player/' ~ video.id %}
                        <a href='{{l|site_url}}'>
                        <img class='yt-vid' data-src='{{video.url}}'>
                        </a>
                        <div class='text-center'>
                        <h5>{{video.title}}</h5>
                        <span class='small'>{{video.dateline}}</span>
                        </div>
                    </div>
                {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class='panel-title text-center'>            
                    Next Broadcast
                </div>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <div class="countdown-styled"></div>
                    <div style='margin-top:-20px;'>
                    <a  href='{{'broadcasts'|site_url}}'>Broadcast Schedule</a>                        
                    </div>
                </div>
            </div>
        </div>  
        <ul class="list-group">
            <li class="list-group-item text-center" style="background-color:#428bca; color: white;">
                <a href="{{'main/news'|site_url}}" style="color: white;">
                    <span style='font-size:18px;'>News</span></a>
            </li>
            {% for article in news %}
            <li class="list-group-item list-group-item">
                {% set l = 'main/article/' ~ article.id %}
                <h4><a href='{{l|site_url}}'>{{article.title}}</h4></a>
                <small class='pull-right dt' data-dt="{{article.timestamp}}"></small><br/>
            </li>
            {% endfor %}
        </ul>
                  
    </div>
</div>
</div>
{% endblock %}

{% block js %}    
<script src="{{'js/moment.min.js'|assets_url()}}"></script>
<script type="text/javascript">
    
function getTimezone()
{
    var now = new Date().toString();
    var TZ = now.indexOf('(') > -1 ?
    now.match(/\([^\)]+\)/)[0].match(/[A-Z]/g).join('') :
    now.match(/[A-Z]{3,4}/)[0];
    if (TZ == "GMT" && /(GMT\W*\d{4})/.test(now)) TZ = RegExp.$1;
    return TZ;
}

$( document ).ready( function() {
    

    $(".dt").each(function () {
        schDate = $(this).data('dt');
        if (schDate != 0)
        {
            var strDateTime = schDate + " GMT";
            var myDate = moment(strDateTime, "YYYY-MM-DD HH:mm:ss Z");
            var d = myDate.format("MMMM Do, YYYY");
            $(this).html( d );
        }

    });
        
    $(".yt-vid").each(function(){
        var imgElement = $(this);
        yt_id =  $(this).data('src');
        yt_playList =  $(this).data('playlist');
        if (yt_id == '')
        {
            
        }
        else
        {
           $.getJSON("http://gdata.youtube.com/feeds/api/videos/" + yt_id + "?v=2&alt=jsonc&callback=?", function(json){
               imgElement.attr("src", json.data.thumbnail.sqDefault);
            }); 
        }
    });
    
    
    var d = '01/01/2000 00:00';
    if ('{{nextCast.timestamp}}' != '')
    {
        var strDateTime = '{{nextCast.timestamp}} GMT';
        var myDate = moment(strDateTime, "YYYY-MM-DD HH:mm:ss Z");
        d = myDate.format("MM/DD/YYYY hh:mm A ") + getTimezone();
    }
    

    $('.countdown-styled').countdown({
        date: d,
        render: function(data) {
          var el = $(this.el);
          el.empty()
            .append("<div>" + this.leadingZeros(data.days, 2) + " <span>days</span></div>")
            .append("<div>" + this.leadingZeros(data.hours, 2) + " <span>hrs</span></div>")
            .append("<div>" + this.leadingZeros(data.min, 2) + " <span>min</span></div>")
            .append("<div>" + this.leadingZeros(data.sec, 2) + " <span>sec</span></div>");
        }
    });        
    
});
</script>     
{% endblock %}